*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{  
    background: #6152c7;
    background: linear-gradient(90deg, rgba(97, 82, 199, 1) 0%, rgba(39, 39, 168, 1) 48%, rgba(0, 0, 0, undefined) 0%);
    height: 100vh; /*deixa com o tamanho certo da tela*/ 
    display: flex; /* centralizar*/
    justify-content: center; /*centralizar */
    align-items: center; /*centralizar */
    font-family: 'Segoe UI';
}

main{
    display: flex; 
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 400px ;  /*tamanho maximo do fundo branco*/
    padding: 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 20px #00000065  ;  /*criar sombra*/
    /* Box- shadow:
    1°offset-x -> deslocamento eixo x- (horizontal)
    2°offset y -> deslocamento y- (vertical)
    3°blur -> desfoque da sombra
    4°spread-> espalhamento da sombra 
    5°color-> cor da sombra #000000 */
   
}
header{
    display: flex;
    gap: 20px;  /*espaçamento*/
    flex-direction:column;
    align-items:center;
    
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #667eea;
    border-radius: 50%;
    width:120px;
    height:120px;
    outline:2px solid rgb(247, 243, 243); /* Borda e traçado*/
    outline-offset: -5px;

}

h1{
    font-weight: 500;
    font-size: 35px;
    color: white;
}
h3{
    color:#6677e0 ;
    font-weight: 600;
}

h4{
    font-size: 22px;
    font-weight:500;   
}

p{
    text-align: center;
    color: #555;
    line-height: 1.7; /*espaçamento da linha*/
}
ul{
    display: flex;  /* um do lado do outro*/
    gap: 10px;

}

ul li{
    list-style: none;
    background-color: #f7fafc;
    outline: 2px solid #e2e8f0;
    border-radius: 20px;
    padding: 5px 8px;
    color: #6677e0;

} 
button{
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: white;
    padding: 8px 20px; /*espaçamento interno*/
    border-bottom: 20px;
    background: #6152c7;
    transition:background 1s ease;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px #6252c72d;
    
    
}
button:hover{
    background: #00adf1; /*mudança enquanto pousa*/
    
}